NODE_LOCAL_PORT=4000
NODE_DOCKER_PORT=4000
API_PORT=4000
API_VERSION= 0.0.1
APP_ENV=dev

## PosgreSQL variables
POSTGRES_USER=user
POSTGRES_DB=movies-app
POSTGRES_PASSWORD=password
POSTGRES_LOCAL_PORT=5432
POSTGRES_DOCKER_PORT=5432
POSTGRES_PORT=5432
POSTGRES_HOST=postgresdb
DATABASE_SYNC=false
